@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

* {
   box-sizing: border-box;
}
        /* Color */

:root {
   --primary-color: #f2f3fdd7;
   --secondary-color: black;
}
        /* Body */

body {
   background-color: rgb(225 125 125 / 78%);
   font-family: poppins, sans-serif;
   margin: 0px;

}

      /* Hrader */
header {
   height: 85px;
   width: auto;
}

     /* Navigation Bar*/
#nav {
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   padding-top: 10px;
   padding-bottom: 10px;
   overflow: hidden;
   background-color: var(--secondary-color);
   z-index: 1000;
   position: fixed;
}

      /* logo */

img.logo {
   height: 60px;
   width: auto;
   border-radius: 1.5rem;
   margin-top: 5px;
   margin-left: 200px;
   margin-right: auto;
}

   /* Search  */
.search {
   height: 35px;
   width: auto;
   border: #6d6f8708 solid 1px;
   font-family: inherit;
   font-size: 15px;
   border-radius: 2rem;
   padding-left: 30px;
   padding-right: 30px;
   margin-top: 11px;
   margin-right: 200px;
   margin-left: auto;
}

.search:focus {
   outline: #373b69;
   background-color: aliceblue;
}

.search::placeholder {
   color: black;
}


       /* Tag Button Section */

       #tags {
         width: 80%;
         display: flex;
         flex-wrap: wrap;
         justify-content: center;
         align-items: center;
         margin: 10px auto;
      }
      
      .tag {
         color: white;
         padding: 10px 20px;
         background-color: orange;
         border-radius: 50px;
         margin: 5px;
         display: inline-block;
         cursor: pointer;
      }
      
      
      .tag.highlight {
         background-color: red;
      }
      
      
      .no-results {
         color: white;
      } 


/* 

#photo {
   margin-top: 10px;
   margin-right: 180px;
}

#form.photo.img {
   height: 10px;
   width: 10px;
}

*/

    /* Main section */

main {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;

}

.movie {
   width: 300px;
   color: var(--primary-color);
   margin: 1rem;
   position: relative;
   overflow: hidden;
   border: 3rem #6d6f87;
   border-radius: 3px;
   background-color: var(--secondary-color);
}

.movie img {
   width: 100%;
}

.movie-info {
   color: var(--primary-color);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0px 10px 5px;
   letter-spacing: 0.5px;
}

.movie-info h3 {
   margin-top: 0px;
}

.movie-info span {
   background-color:#4a4646;
   padding: 3px 3px;
   font-weight: bold;
   border-radius: 2px;
}

.movie-info span.green {
   color: lightgreen;
}

.movie-info span.red {
   color: red;
}

.movie-info span.orange {
   color: rgb(255, 238, 0);
}


     /* Overview */

.overview {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   background-color: var(--primary-color);
   color: var(--secondary-color);
   padding: 1rem;
   max-height: 100%;
   transform: translateY(101%);
   transition: transform 0.3s ease-in;
}

.movie:hover .overview {
   transform: translateY(0)
}
.know-more {
   background-color: orange;
   color: white;
   font-size: 16px;
   font-weight: bold;
   border: 0;
   border-radius: 50px;
   padding: 10px 20px;
   margin-top: 5px;
}



   /* Overlay Section */
   
.overlay {
   height: 90%;
   width: 0;
   position: fixed;
   z-index: 1;
   left: 0;
   top: 85px;
   /* background-color: rgb(0, 0, 0); */
   background-color:rgb(225 125 125 / 78%);
   overflow-x: hidden;
   transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
   position: relative;
   top: 10%;
   width: 100%;
   text-align: center;

   margin-top: 30px;
}

/* The navigation links inside the overlay */
.overlay a {
   padding: 8px;
   text-decoration: none;
   font-size: 36px;
   color:var(--secondary-color);
   display: block;
   transition: 0.3s;
}


.overlay a:hover,
.overlay a:focus {
   color: #ffffff;
}

/* Close button in Overlay*/
.overlay .closebtn {
   position: absolute;
   top: 20px;
   right: 45px;
   font-size: 60px;
}

@media screen and (max-height: 450px) {
   .overlay a {
      font-size: 20px
   }

   .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
   }
}


.embed.hide {
   display: none;
}

.embed.show {
   display: inline-block;
}

.arrow {
   position: absolute;
   font-size: 40px;
}

.arrow.left-arrow {
   top: 50%;
   left: 5%;
   transform: translateY(-50%);
}


.arrow.right-arrow {
   top: 50%;
   transform: translateY(-50%);
   right: 5%;
}

.dots {
   margin-top: 30px;
}

.dots .dot {
   padding: 5px 15px;
   border-radius: 50%;
   border: 5px solid var(--secondary-color);
   color: white;
   font-size: 20px;
   font-weight: 600;
   margin: 5px;
}

.dots .dot.active {
   border-color: orange;
}

    /* Footer Section */
.pagination {
   height: 100px;
   background-color: var(--secondary-color);
   display: flex;
   align-items: center;
   justify-content: center;
   color: white;
}

.page {
   padding: 20px;
   cursor: pointer;
}

.page.disabled {
   cursor: not-allowed;
   color: grey;
}

.current {
   padding: 10px 20px;
   border-radius: 50%;
   border: 5px solid orange;
   font-size: 20px;
   font-weight: 600;
}
